

<main class="container" *ngIf="currentProduct.id">
  <div class="row" >

    <div class="col-md-7"   position="relative">
      <img src='{{ "assets/img/" + currentProduct.pic_name }}' width="90%" height="auto"/>
    </div>

    <div class="col-md-5">
      <div class="product-description">
        <span>{{currentProduct.category}}</span>
        <p class="border"></p>
        <h5>{{currentProduct.name}}</h5>
        <p>{{currentProduct.description}}</p>
        <p class="border"></p>

      </div>

      <div class="product-price">
        <span>CAD $ {{currentProduct.price}}</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </div>

  <div class="row" >
    <p class="border"></p>
    <div>
      <label><strong>Weight:</strong></label>
      {{ currentProduct.weight }}
    </div>

    <div>
      <label><strong>Nutrition fact:</strong></label>
      {{ currentProduct.nutrition_fact }}
    </div>
  </div>
</main>





