<%- include ('partials/header.ejs') %>

<!DOCTYPE html>
<html>
    <title>About Me</title>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li class="active"><a href="about_me">About Me</a></li>
  <li><a href="projects">Projects</a></li>
  <li><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="container_aboutme">
  <img src="/img/about_me.png"  style="width:100%;">
  <div class="content">
    <img src="/img/me.png"  style="width:22%;">
    <h1> Vu Nhat Dinh Le </h1>
   
    <p class="text">I am from Vietnam and currently studying at Centennial College. I had a diploma in information technology with a focus on networking and computer hardware. After graduating, I started working as a computer network and data system manager for a hospital in Vietnam. I'm hoping to be able to work as a professional programmer, implementing tasks associated with the topic I'm studying, after I graduate from Centennial College.</p> </div>
</div>
</div>


  </body>
</html>


<%- include ('partials/footer.ejs') %>
