
<%- include ('partials/header.ejs') %>
 <!-- header.ejs contains stylesheets and javascript elements to display a predefined page structure -->

<%- include ('partials/main_nav.ejs') %>


 <!-- this file to display Home Page -->
<!DOCTYPE html>
<html>
  <title>Home Page</title>
<body>

<div class="container_home">
  <img src="/img/home.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Welcome To My Express Portfolio </h1>
    <p>This is my Web Application Development project made based on NodeJs and ExpressJs platform.</p> </div>
</div>


  </body>
</html>


<%- include ('partials/footer.ejs') %>
