
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!DOCTYPE html>
<html>
    <title>Projects CSharp Page</title>

<body>

<div class="row_projects">
    <div class="column1">
      <div class="card">
        <img src="/img/project_csharp2.png" style="width:100%">
         <p class="text_block1">Sales Management System</p>  

     </div>
    </div>
  
    <div class="column2">
      <div class="card">
          <h3 class="text_block1">My contribution to the project</h3>
          <ul class="text_block2">
            <li>Build code for data entry of goods information into the database.</li>
            <li>Build the important calculation functions that the software does.</li>
            <li>Check program errors before packaging.</li>
          </ul>
          <form action="projects">
       <!-- click button will be able to direct to Projects page-->       
            <p><button class="back_button">Back</button></p>
              </form>         
      </div>
    </div>
    
   
  </div>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
