<%- include ('partials/header.ejs') %>


<!DOCTYPE html>
<html>
    <title>Projects Design Page</title>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="about_me">About Me</a></li>
  <li class="active"><a href="projects">Projects</a></li>
  <li><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="row_projects">
    <div class="column1">
      <div class="card">
        <img src="/img/project_design2.png" style="width:100%">

     </div>
    </div>
  
    <div class="column2">
      <div class="card">
          <h3 class="text_block1">My contribution to the project</h3>
          <ul class="text_block2">
            <li>Using common software design patterns to generate ideas for UX design.</li>
            <li>Implement UML deployment diagram modeling the physical aspects of an object-oriented system.</li>
            <li>Concept design for the homepage and main function pages of the software on mobile devices.</li>
          </ul>
          <form action="projects">
            <p><button class="back_button">Back</button></p>
              </form>  

      </div>
    </div>
  </div>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
