<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<!DOCTYPE html>
<html>
    <title>Projects Design Page</title>

<body>

<div class="row_projects">
    <div class="column1">
      <div class="card">
        <img src="/img/project_design2.png" style="width:100%">

     </div>
    </div>
  
    <div class="column2">
      <div class="card">
          <h3 class="text_block1">My contribution to the project</h3>
          <ul class="text_block2">
            <li>Using common software design patterns to generate ideas for UX design.</li>
            <li>Implement UML deployment diagram modeling the physical aspects of an object-oriented system.</li>
            <li>Concept design for the homepage and main function pages of the software on mobile devices.</li>
          </ul>
          <form action="projects">
            <p><button class="back_button">Back</button></p>
              </form>  

      </div>
    </div>
  </div>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
