<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<!DOCTYPE html>
<html>
    <title>Projects Java Page</title>
<body>

<div class="row_projects">
    <div class="column1">
      <div class="card">
        <img src="/img/project_java2.png" style="width:100%">
         <p class="text_block1">Java Student Manager Project</p>  

     </div>
    </div>
  
    <div class="column2">
      <div class="card">
          <h3 class="text_block1">My contribution to the project</h3>
          <ul class="text_block2">
            <li>Help the team build the database and the relationship diagram of the entities in that database.</li>
            <li>Build the code for the student data entry form.</li>
            <li>Software interface design consulting.</li>
          </ul>
          <form action="projects">
              <!-- click button will be able to direct to Projects page-->
            <p><button class="back_button">Back</button></p>
              </form>  

      </div>
    </div>
    
   
  </div>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
