

<!DOCTYPE html>
<html>
  <head>
    <title>Prices for todo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/custom.css" rel="stylesheet" media="screen">
    <link href="dist/css/projects.css" rel="stylesheet" media="screen">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="about_me">About Me</a></li>
  <li><a href="projects">Projects</a></li>
  <li class="active"><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="row_projects">
    <div class="column">
      <div class="card">
        <img src="/img/home.jpg" alt="Jane" style="width:100%">
        <div class="container_projects">
          <h1>Jane Doe</h1>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
            lllllllllllllllllllllllllllllllllllllllllllllllllllll
            lllllllllllllllllllllllorem.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/img/home.jpg" alt="Mike" style="width:100%">
        <div class="container_projects">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p>example@example.com</p>
          <p>example@example.com</p>
          <p>example@example.com</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/img/home.jpg" alt="John" style="width:100%">
        <div class="container_projects">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p>example@example.com</p>
          <p>example@example.com</p>
          <p>example@example.com</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
