

<!DOCTYPE html>
<html>
  <head>
    <title>Prices for todo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/custom.css" rel="stylesheet" media="screen">
   
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="about_me">About Me</a></li>
  <li><a href="projects">Projects</a></li>
  <li class="active"><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="container_home">
  <img src="/img/home.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Welcome To My Express Portfolio </h1>
    <p>This is my Web Application Development project made based on NodeJs and ExpressJs platform.</p> </div>
</div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
