

<!DOCTYPE html>
<html>
  <head>
    <title>Projects Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/custom.css" rel="stylesheet" media="screen">
    <link href="dist/css/projects.css" rel="stylesheet" media="screen">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="about_me">About Me</a></li>
  <li><a href="projects">Projects</a></li>
  <li class="active"><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="row_projects">
    <div class="column">
      <div class="card">
        <img src="/img/project_java1.png" style="width:100%">
        <div class="container_projects">
          <h3>Visual Basic Programming Services</h3>
          <p class="text_block">We program Visual Basic applications for Windows, web, and mobile platforms. Our services include intuitive user interface and experience (UI / UX) programming and development using Microsoft's Component Object Model (COM).</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/img/project_design1.png" alt="Mike" style="width:100%">
        <div class="container_projects">
          <h3>Web Deverlopment Services</h3>
          <p class="text_block">We works with web portals for different audiences: customers, business partners, ecommerce users, patients, vendors, interest-based communities. Web portals we create automatically aggregate data from corporate systems and become a source of up-to-date information and help for users.</p>

        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/img/project_csharp1.png" alt="John" style="width:100%">
        <div class="container_projects">
          <h3>Mobile App Design Services</h3>
          <p class="text_block">Use of Microsoft's .Net and Visual Studio to build a sales management program on the basis of C# programming language and SQL Server database management system.</p>

       </div>
      </div>
    </div>
  </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
