

<!DOCTYPE html>
<html>
  <head>
    <title>Projects Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/custom.css" rel="stylesheet" media="screen">
    <link href="dist/css/projects.css" rel="stylesheet" media="screen">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav">
  <li><a href="new.html" class="navbar-brand">
<img src="/img/logo.png"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="about_me">About Me</a></li>
  <li><a href="projects">Projects</a></li>
  <li class="active"><a href="services">Services</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>
</nav>

<div class="row_projects">
    <div class="column">
      <div class="card">
        <img src="/img/project_java1.png" style="width:100%">
        <div class="container_projects">
          <h3>Java Student Manager Project</h3>
          <p class="title">2023</p>
          <p class="text_block">Use of the JDBC (Java Database Connectivity) tool to connect the database in the Java application to create student management software.</p>
            <form action="project_java">
          <p><button class="button">More Details</button></p>
            </form>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/img/project_design1.png" alt="Mike" style="width:100%">
        <div class="container_projects">
          <h3>Software Design Project</h3>
          <p class="title">2023</p>
          <p class="text_block">Apply the principles of the MVC model, build diagrams according to popular design patterns to create a software interface on mobile applications and websites for online teaching purposes.</p>

          <form action="project_design">
            <p><button class="button">More Details</button></p>
              </form>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/img/project_csharp1.png" alt="John" style="width:100%">
        <div class="container_projects">
          <h3>CSharp Project</h3>
          <p class="title">2023</p>
          <p class="text_block">Use of Microsoft's .Net and Visual Studio to build a sales management program on the basis of C# programming language and SQL Server database management system.</p>

          <form action="project_csharp">
            <p><button class="button">More Details</button></p>
              </form>        </div>
      </div>
    </div>
  </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>

  </body>
</html>


<%- include ('partials/footer.ejs') %>
