
<%- include ('partials/header.ejs') %>
 <!-- header.ejs contains stylesheets and javascript elements to display a predefined page structure -->

<%- include ('partials/main_nav.ejs') %>

<!DOCTYPE html>
<html>
  <!-- this file to display Services Page -->
 
    <title>Services Page</title>
<body>


 <!-- display 3 cards containing general information about 3 services that the page provides, 
  can be automatically resized   -->

<div class="row_projects">
    <div class="column">
      <div class="card">
        <img src="/img/service_programing.png" style="width:100%">
        <div class="container_projects">
          <h3>Programming Services</h3>
          <p class="text_block_services">We program Visual Basic applications for Windows, web, and mobile platforms. Our services include intuitive user interface and experience (UI / UX) programming and development using Microsoft's Component Object Model (COM).</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/img/service_web_develop.png" alt="Mike" style="width:100%">
        <div class="container_projects">
          <h3>Web Deverlopment Services</h3>
          <p class="text_block_services">We works with web portals for different audiences: customers, business partners, ecommerce users, patients, vendors, interest-based communities. Web portals we create automatically aggregate data from corporate systems and become a source of up-to-date information and help for users.</p>

        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/img/service_mobile_development.png" alt="John" style="width:100%">
        <div class="container_projects">
          <h3>Mobile App Services</h3>
          <p class="text_block_services">We has extensive experience in creating high performing, digitally transformative and feature-packed native mobile applications for Android and iOS devices.
          </p>

       </div>
      </div>
    </div>
  </div>


  </body>
</html>


<%- include ('partials/footer.ejs') %>
