<!--This is a form for users to enter contact information with the website owner-->

<!--
<div class="bg-img">
  <div class="container_contact">
    <form (ngSubmit)="onSubmit()">

      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="contact">Contact Number</label>
      <input type="text" id="number" name="contact_number" placeholder="Your Mobile Phone..">

      <label for="email">Email Address</label>
      <input type="text" id="email" name="email_address" placeholder="Your Email Address..">

      <label for="message">Message</label>
      <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea>

      <button class="btn-outline-secondary" type="submit">Submit</button>

    </form>
  </div>
</div>
-->
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input
          type="text"
          class="form-control"
          id="fname"
          required
          [(ngModel)]="contact.first_name"
          name="fname" />
       
      </div>

      <div class="form-group">
        <label for="lname">Last Name</label>
        <input
          class="form-control"
          id="lname"
          required
          [(ngModel)]="contact.last_name"
          name="lname"
        />
      </div>

      <div class="form-group">
        <label for="contact">Contact Number</label>
        <input
          class="form-control"
          id="contact"
          required
          [(ngModel)]="contact.contact_number"
          name="contact"
        />
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="contact.email_address"
          name="email" />
      </div>

      <div class="form-group">
        <label for="quantity">Message</label>
        <textarea  class="form-control" id="message" 
        name="message" placeholder="Write something.." 
        style="height:200px" 
        required
        [(ngModel)]="contact.message"></textarea>
      </div>

      <button class="btn-outline-secondary" (click)="onSubmit()">Submit</button>
    </div>