.submit-form {
    border-radius: 5px;
    padding: 40px;
    margin-left: 0px;
    margin-bottom: 50px;
    width: 50%;
    margin-top: 5%;
  }

  :host{
    background-image: url("/assets/img/banner-contact.png");
    background-position: 0px 0px;  
    background-size: 100%;
    background-repeat: repeat;
    position: absolute;
  
    width: 100vw;
  }
  * {
    box-sizing: border-box;
  }

  
  /* Style inputs for text area */
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 26px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background: linear-gradient(to bottom left, #a5bea6 40%, #629760 80%);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #363199;
  }

  .btn-outline-secondary{
    color: #ffffff;
    padding: 0.4rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 400;
    display: block;
    width: 20%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom left, #a5bea6 40%, #629760 80%);
    position:relative;
    opacity: 70%;

  }
  