
/* Basic Styling */
:host{
  background-image: url("/assets/img/banner-welcome.png");
  background-position: 0px 0px;  
  background-size: 100%;
  background-repeat: repeat;
  position: absolute;

  width: 100vw;
}
 
.container{
  margin-top: 8%;
  margin-bottom: 5%;
}


.border{
  border-top: 1px solid #E1E8EE;
  margin-top: 5%;
}

/* Product Description */
.product-description {
  margin-bottom: 20px;
  margin-right: 50px;
}
.product-description span {
  
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h5 {
  margin-top: 5%;

}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 22px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background: linear-gradient(to bottom left, #a5bea6 40%, #629760 80%);
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  opacity: 70%;

}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

}
 
@media (max-width: 535px) {
  .img {
    width: 220px;
    top: -85px;
  }
}

img{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
}

